.footer{
    width: 100%;
    max-width: 1110px;
    min-height: 23px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fot{
    width: 100%;
    max-width: 1110px;
    
    &__nav{
        width: 100%;
        max-width: 1109px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: row; 
    }
    &__li{
        list-style-type: none;
        text-decoration: none;
        padding: 30px; 
    }
    &__link{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 700;
    }
}


