
.header{
    width: 100%;
    max-width: 1109px;
    margin-top:61px;
    padding-left:126px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: blue;
}

.header-nav{
    list-style-type: none;
}