.page__top{
    width: 100%;
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title{
        width: 100%;
        max-width: 495px;
        min-height: 130px;
        line-height: 55px;
    }
    &__text{
        width: 100%;
        max-width: 635px;
        min-height: 222px;
    }
}
.page__detail{
    width: 100%;
    max-width: 350px;
    height: 343px;
    margin: 0 auto;
    padding-left: 50px;
    display: flex;
    line-height: 3;
    font-size: 18px;  
}
.detail-container{
    list-style-type: none;   
}
.detail-result{
    list-style-type: none;
    font-weight: bold;
}
.detail-list{
    padding: 2px;
    padding-left: 25px;
    margin: 0 -20px;
    border-bottom: 1px solid #D8D8D8;
} 
.page__mid{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
}
/*--may not need but just in case*/
.prod-img{
    width: 100%;
    max-width: 1110px;
    min-height: 660px;
}
.mid__text{
    width: 100%;
    max-width: 1109px;
    height: 93px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
}
.product-gallery{
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
}
