@use './fonts';
@import 'base';
@import 'header';

main{
    width: 100%;
    margin: 0 auto;
}
.intro{ 
    width: 100%;
    max-width: 1109px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text{
        width: 100%;
        max-width: 635px;
        min-height: 251px;
    }
    &__isub{
        display: flex;
        align-self: flex-end;
        position: relative;
        right: 58px;
        bottom: 20px
    }
    &__word{
        color: #4A4FF2;
    }
}
.intro_hr{
    width: 30px;
    position: relative;
    left: 32px; 
}

@import 'gallery';

.service{
    width: 100%;
    margin: 0 auto;
    min-height: 106px;
    max-width: 1079px;
    padding-right:50px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*position: relative;
    right: 20px; */

    &__text{
        width: 100%;
        max-width: 635px;  
        
    }
    &__list{
        font-size: 18px;
        color: #111111;
    }
    &__li{
        list-style-type: none;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 10px;
        text-align: left;
        padding-top: 10px;
    }
}
/*@import 'awards';*/

@import 'awards2';

@import 'product';
@import 'contact';
@import 'footer';
